<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	 <h1 sec:authorize="isAuthenticated()">Welcome Page <span th:text ="${currentUser}"></span></h1>
	 
	<div sec:authorize="hasRole('ROLE_ADMIN')">
  		Account Type:Admin
	</div>
	<div sec:authorize="hasRole('ROLE_USER')">
  		Account Type:User
	</div>
	<p><a href="/userlist">User list</a></p>
    <form id="logoutForm" method="POST" action=# th:action="@{/login?logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" value="Logout!"/>
    </form>
</body>
</html>